<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jquery Start</title>
    <link rel="stylesheet" href="assets/css/my-style.css">
</head>

<body>
    <header>
        <h1>My first jquery</h1>
    </header>
    
    <main>

        <section>

        </section>
        
        <article>

        </article>
    </main>

    <footer>
        last place tm
    </footer>

    <script src="vendor/jquery/jquery.js"></script>
    <script src="assets/js/my-script.js"></script>

</body>

</html>